.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #20409a;
  display: flex;
  justify-content: space-around;
  height: 90px;
  padding-top: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.link {
  border: 1px solid white;
  color:white;
  padding: 10px;
  margin: 3px;
  text-decoration: none;
  height: 20px;
}

.botao {
  padding: 10px;
  color: white;
  background-color: #20409a;
  border: 1px solid white;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.form-buttons button {
  margin-left: 3px;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
body {
  background-color: #ececec
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
